body {
    color: #333333;
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.font {
    font-family: Georgia, "Times New Roman", serif;
}

table {
    flex: 1;
}

.my_table {
    display: flex;
    flex-direction: column;

    margin: auto;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.my_table img {
    width: 260px;
    height: 260px;
    padding-right: 4em;
}

.my_table > thead {
    align-items: center;
    padding-bottom: 5%;
}

.my_table > thead h5, h4 {
    margin: 0.4em;
    padding: 0;
}

#row {
    margin: auto;
    width: 65%;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 0;

    alignment: center;

    border: 1px solid #000;
}

/* стили для не валидных полей*/
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

/*стили для кастомных сообщений об ошибке*/
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error .active {
    padding: 0.3em;
}