body {
    margin: 0;
    height: 100%;
    width: 100%;

    color: #333333;
    background-color: #f8f8ff;
}

.container {
    display: flex;

    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

.font {
    font-family: Georgia, "Times New Roman", serif;
}

table {
    flex: 1;
}

td,th {
    text-align: center;
}

#name{
    padding: 3%;
}


.my_table {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 2%;

    align-items: center;
    justify-content: space-evenly;

}

.my_table thead {
    /*position: center;*/
    padding-bottom: 0;
    margin-bottom: 2.5%;
    height: 17em;
    border: 2px solid #324ab2;
    border-radius: 10px;
    background-color: #f6fbfe;
}

header {
    position: sticky;
    z-index: 10;
    margin-bottom: 2em;
    align-self: stretch;
    text-align: center;

    background-color: #000080;
    color: #ffffff;
}

header h5, h4 {
    margin: 0.4em;
    padding: 0;
}


#form{
    padding-left: 0;
    /*position: center;*/
}

#row {
    margin: auto;
    width: 60%;
    padding-top: 2%;
    padding-left: 9%;
    padding-right: 0;

    /*alignment: center;*/

    border: 1px solid #000;
}

/* стили для не валидных полей*/
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

/*стили для кастомных сообщений об ошибке*/
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error .active {
    padding: 0.3em;
}